.blackjack {
  display: flex;
  margin-inline: clamp(5rem, 8vw, 10rem);
  justify-content: space-evenly;
}

#dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_container {
  display: flex;
  position: relative;
}

.card_container .card:not(:first-child) {
  margin-left: -5rem;
}

.player_name {
  font-size: 1.3rem;
}

#game_tools {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

#game_tools_inner {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

#card_image {
  aspect-ratio: 1/0.7;

  width: 35%;
  max-width: 50rem;

  display: flex;

  justify-content: center;
  align-items: center;

  background: radial-gradient(circle, var(--highlight-two) 8%, transparent 51%);

  background-clip: none; 
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  animation-duration: 10s;
  animation-name: card_image_animation;
  animation-timing-function: ease-in-out;
  animation-fill-mode:forwards;
  animation-iteration-count: infinite;
}

@keyframes card_image_animation {
  0% {    
      background-size: 100%;
  }

  50% {
      background-size: 150%;
  }

  100% {
      background-size: 100%;
  }
}

@media screen and (max-width: 800px) {
  .home {
      flex-direction: column-reverse;
      justify-content: flex-start;
      align-items: center;
  }

  #hero_text {
      width: 90%;
  }

  #card_image {
      width: 90%;
  }
}

.card {
  display: flex;

  position: relative;
  z-index: 1;
  top: 0;

  align-items: center;
  justify-content: center;

  aspect-ratio: 9 / 13;

  min-width: 3rem;
  width: clamp(4rem, 9vw, 8rem);

  border-radius: 10px;

  background: linear-gradient(45deg, var(--highlight-one) 16%, var(--accent) 100%);

  box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.75);

  overflow: hidden;

  transition-duration: .08s;
  transition-timing-function: ease-out;

  box-sizing: border-box;
}

.card_indicator {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;

  font-size: 1.5rem;
}

.card_indicator img {
  opacity: 80%;   
}

.card .card_tl {
  top: 0.5rem;
  left: 0.5rem;
}

.card .card_br {
  bottom: 0.5rem;
  right: 0.5rem;
  rotate: 180deg;
}

.card .card_center {
  position: absolute;

  font-size: 1.5rem;
  z-index: 10;
}

.card .card_center_image {
  position: absolute;

  opacity: 20%;
}

@keyframes fade_in {
  0% {
      opacity: 0%;
  }

  100% {
      opacity: 100%;
  }
}