.blackjack {
  display: flex;
  margin-inline: clamp(5rem, 8vw, 10rem);
  justify-content: space-around;
}

@media screen and (max-width: 900px) {
  .blackjack {
    flex-direction: column;
    gap: 2rem;
  }
}
#dealer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_container {
  display: flex;
  position: relative;
}

.card_container .card:not(:first-child) {
  margin-left: -5rem;
}

.player_name {
  display: flex;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: var(--primary);
}


.card {
  display: flex;

  position: relative;
  z-index: 1;
  top: 0;

  align-items: center;
  justify-content: center;

  aspect-ratio: 9 / 13;

  min-width: 3rem;
  width: clamp(7rem, 13vw, 7rem);

  border-radius: 10px;

  background: linear-gradient(45deg, var(--highlight-one) 16%, var(--accent) 100%);

  box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -5px 6px 5px 0px rgba(0,0,0,0.75);

  overflow: hidden;

	background-size: 100% 100%;
  background-repeat: no-repeat;

  transition-duration: .1s;
  transition-timing-function: ease-in-out;

  box-sizing: border-box;
}

@keyframes card_image_animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card:hover {
  transform: translateY(-1rem);
}

.card_indicator {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;

  font-size: 1.5rem;
}

.card_indicator img {
  opacity: 80%;   
}

.card .card_tl {
  top: 0.5rem;
  left: 0.5rem;
}

.card .card_br {
  bottom: 0.5rem;
  right: 0.5rem;
  rotate: 180deg;
}

.card .card_center {
  position: absolute;

  font-size: 1.5rem;
  z-index: 10;
}

.card .card_center_image {
  position: absolute;

  opacity: 20%;
}

@keyframes fade_in {
  0% {
      opacity: 0%;
  }

  100% {
      opacity: 100%;
  }
}

#control_buttons {
  margin-top: 1.5rem;

  display: flex;
  gap: 1rem;
}

