@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Source+Sans+Pro&display=swap');


/* !!!!!!!!!!!! */
/* ROOT STYLING */
/* !!!!!!!!!!!! */


:root {
  --primary: #f6f6f6;
  --primary-darker: #d9d9d9;
  --secondary: #101528;
  --secondary-lighter: #1a213f;
  --highlight-one: #ff533f;
  --highlight-two: #0a0e19;
  --highlight-three: #629460;
  --accent: #7826ff;

  --fancy-font: 'Playfair Display', serif;
  --regular-font: 'Inter', sans-serif; 
}

::-moz-selection {
  color: var(--primary);
  background: var(--accent);
}

::selection {
  color: var(--primary);
  background: var(--accent);
}

/* HTML AND BODY */
html,body {
  font-size: 1.15rem;

  margin: 0;
  padding: 0;

  color: var(--primary);
  background-color: var(--secondary);

  font-family: var(--regular-font);
}

body {
  margin-block: clamp(8rem, 8vw, 10rem);
}

/* LINKS */
a,.link {
  width: fit-content;
  color: var(--primary);
  text-decoration: none;

  transition-duration: 0.2s;
  transition-timing-function: ease;

  transition-property: all;
  position: relative;

  cursor: pointer;
}

a:hover,.link:hover {
  transform: translateY(-5px); 
}

/* HEADINGS */
h1 {
  font-size: 2.5rem;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0px;
  font-family: var(--regular-font);
}

/* PARAGRAPHS */
p {
  color: var(--primary-darker);
}

/* INPUTS */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* INPUT STATUS EFFECTS */
input:disabled {
  filter:brightness(30%);
}


/* !!!!!!!!!!!!!! */
/* CUSTOM STYLING */
/* !!!!!!!!!!!!!! */


/* CUSTOM LINKS*/
/*LINK TYPES*/
.link_primary {
  color: var(--highlight-one);
}

.link_secondary {
  color: var(--primary);
}

/* LINK STATUS EFFECTS */
.link_primary:hover {
  color: var(--primary);
}

.link_secondary:hover {
  color: var(--primary-darker);
}

/* CUSTOM BUTTONS */
/* BUTTON TYPES*/
.button_group {
  display: flex;

  gap: 1rem;
}

.button {
  padding-block: 0.7rem;
  padding-inline: 1rem;

  border-radius: 7px;

  border: none;

  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: all;
  font-size: 1.15rem;

  cursor:pointer;
}

.button_slim {
  border-radius: 4px;

  font-size: 1rem;
  padding-block: 0.4rem;
  padding-inline: 0.7rem;

  border: none;

  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: all;
  font-size: 1.15rem;

  cursor:pointer;
}

/* BUTTON STYLES */
.button_primary {
  background-color: var(--highlight-one);
  color: var(--secondary);
}
.button_secondary {
  background-color: var(--highlight-two);
  color: var(--primary);
}

/* BUTTON STATUS EFFECTS */
.button:disabled {
  opacity: 30%;
}

.button_primary:hover {
  color: var(--primary);
  box-shadow: 0 5px 70px 0px var(--highlight-one);
}

.button_secondary:hover {
  transform: translateY(-5px);
  color: var(--highlight-one);
}


/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */
/* NON-COMPONENT CUSTOM STYLING */
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!! */


/* NAVIGATION */
.nav {
  margin-inline: clamp(5rem, 8vw, 10rem);

  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: flex;

  height: 4rem;
  align-items: center;

  opacity: 0;
  animation: fadeIn 0.2s ease-in-out 500ms forwards;
}

.nav_logo {
  width: 50%;
}

.nav_logo a {
  background: linear-gradient(to right, var(--highlight-one), var(--accent));
  color: transparent;
  background-clip: text;

  font-size: 1.2rem;
}

.nav_hide {
  width: 50%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 3rem;
}

@media screen and (max-width: 660px) {
  .nav {
    padding-top: 1rem;
    margin-inline: 1rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    height: fit-content;
  }

  .nav_hide {
    width: 100%;
    gap: 2rem;
    justify-content: center;
  }

  .nav_logo {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}

/* !!!!!!!!!!!!!!!!!!!!! */
/* USEFUL CUSTOM STYLING */
/* !!!!!!!!!!!!!!!!!!!!! */


.unobstructive {
  filter: opacity(30%);
}

.highlight_tag {
  background-color: var(--highlight-two);
  color: var(--highlight-one);

  border-radius: 4px;

  font-size: 1rem;
  padding-block: 0.4rem;
  padding-inline: 0.7rem;

  border: none;

  transition-duration: 0.2s;
  transition-timing-function: ease;
  transition-property: all;
  font-size: 1.15rem;
}

.loading_icon {
  position: fixed;
  z-index: 1000;
  bottom: 1rem;
  right: 1rem;

  aspect-ratio: 1/1;
  width: 2rem;

  filter: invert(100%);

  animation: loading_spin 1s ease-in-out infinite;
}

/* INFO BOX */
.info_box {
  position: fixed;

  z-index: 1000;

  bottom: 2rem;

  padding-block: 0.7rem;
  padding-inline: 1rem;

  border-bottom: 3px solid var(--accent);

  max-width: 80%;

  right: -100%;
  
  border-radius: 7px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  background-color: var(--highlight-two);
  color: var(--primary);
}

.info_box_header {
  color: var(--highlight-one);
}

.exit_button {
  display: flex;
  margin-top: 3px;
  align-items: center;

  filter: invert(70%);
}


/* !!!!!!!!!!!!!!!!! */
/* ANIMATION STYLING */
/* !!!!!!!!!!!!!!!!! */


@keyframes info_slide_in {
  0% {
    opacity: 0%;
    right: -100%;
  }

  100% {
    opacity: 100%;
    right: 2rem;
  }
}

@keyframes info_slide_out {
  0% {
    opacity: 100%;
    right: 2rem;
  }

  100% {
    opacity: 0%;
    right: -100%;
  }
}

@keyframes loading_spin {
  0% {
    rotate: 0deg;
  }

  100% {
    rotate: 360deg;
  }
}

@keyframes fadeIn {
  0% {
      opacity: 0%;
  }
  
  100% { 
      opacity: 100%;
  }
}


