#game_list {
  display: grid;
  grid-auto-rows: 15rem;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 1.5rem;
  margin-inline: clamp(5rem, 8vw, 10rem);
  opacity: 0%;
  animation: fade_in 0.4s ease-in-out 250ms forwards;
  padding: 1rem;
  background-color: var(--highlight-two);
  border-radius: 15px;
  min-height: 90vh;
}

@media screen and (max-width: 500px) {
  #game_list {
    margin-inline: 1rem;
  }
}

.game {
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background-color: var(--secondary-lighter);
  border: 3px solid transparent;
  border-radius: 15px;
  transition-duration: 0.2s;

  opacity: 0%;
  animation: fade_in 0.4s ease-in-out 250ms forwards;
}

.game:hover {
  border: 3px solid var(--accent);
}

.game p {
  font-size: 1rem;
}

.game span {
  font-size: 1rem;
}

.game a#play_button {
  margin-top: auto;
}

@keyframes fade_in {
  0% {
      opacity: 0%;
  }
  
  100% { 
      opacity: 100%;

  }
}
